.content-form{
    display: flex;
    flex-flow:row wrap;
}

.field,.field-area{
    margin: 0 3px 3px 0;
    padding: 3px 2px;
    border: 2px solid navy;
}

.field{
    flex: 1 0 40%;
    width: 45%;
    float: left;
}

.field-area{
    flex: 1 0 90%;
    width: 90%;
}

.btn-form{
    padding: 3px;
    background-color: palevioletred;
    color: purple;
}
/*estilo de cartas pokemon*/
.pokemon-container{
    background-color: violet;
    padding: 50px 30px;
}

.pokemon-container h1{
    text-align: center;
    color: whitesmoke;
    margin: 0 0 20px 0;
}

.flex-parent{
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-child{
    width: 320px;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: purple 1px;
}
img{
    max-width: 100%;
}
.info{
    padding: 10px;
}